@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --c-primary: #da2f20;
  --c-background: #09091b;
  --c-backround-light: #15151e;
}

html {
  background: var(--c-backround-light);
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    var(--c-backround-light),
    var(--c-background)
  );
  min-height: 100vh;
}

.trackSvg svg {
  height: 260px;
  width: 260px;
}

@keyframes expand {
  0% {
    transform: scale(100%, 10%);
  }

  40% {
    transform: scale(50%, 50%);
  }

  80% {
    transform: scale(110%, 110%);
  }

  100% {
    transform: scale(100%, 100%);
  }
}

